#viewport {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body.scrollPathDisabled{
  overflow: scroll;
}

body.scrollPathDisabled #viewport{
  overflow: visible;
}

#world {
  position: absolute;
  height: auto;
  will-change: transform;
  transform-origin: 50.2769vw 0 0;
  transform: translate(-0.2769vw);
}

#bee {
  position: absolute;
  top: 0;
  left: 0;
  filter: drop-shadow(8px 8px 6px rgba(0, 0, 0, 0.75));
  will-change: transform;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

#scroll-path-svg {
  position: absolute;
  top: 0;
  left: 50vw;
  pointer-events: none;
  width: 320.1293rem;
  height: 1157.9457rem;
  z-index: -1;
  opacity: 0;
}

.show-path #bee {
  z-index: 4;
  opacity: 1;
}



.show-path #scroll-path-svg {
  z-index: 5;
  opacity: 1;
}



.screen1 {
  position: relative;
  width: 100vw;
}

.screen1__content {
  display: block;
  width: 100%;
  padding-bottom: 50.0625%;
  position: relative;
}

.screen1__logo {
  position: absolute;
  left: 10rem;
  top: 20rem;
}

.screen1-text1{
  font-size: 2.555rem;
  font-weight: 500;
  position: absolute;
  top: 12rem;
  left: 30rem;
}

.screen1-text2{
  position: absolute;
  font-size: 1.700rem;
  left: 40rem;
  top: 15.2rem;
}

.screen1-text3{
  font-size:2.555rem;
  font-weight: 600;
  position: absolute;
  top: 22rem;
  left: 45rem;
}

.screen1__video{
  position: absolute;
  left: 70rem;
  top: 5rem;
}
.screen1__line-1 {
  position: absolute;
  top: 18.844rem;
  left: 18.726rem;
}

.screen1__line-2 {
  position: absolute;
  width: 80rem;
  top: 33.144rem;
  left: 25.726rem;
}


.screen2{
  position: absolute;
  width: 100vw;
  left:22rem;
  top: 80rem;
}

.screen3{
  width: 100vw;
}

.screen4{
  width: 100vw;
}

.screen5{
  width: 100vw;
}
