#viewport {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body.scrollPathDisabled {
  overflow: scroll;
}

body.scrollPathDisabled #viewport {
  overflow: visible;
}

#world {
  position: absolute;
  height: auto;
  will-change: transform;
  transform-origin: 50.2769vw 0 0;
  transform: translate(-0.2769vw);
}

#bee {
  position: absolute;
  top: 0;
  left: 0;
  filter: drop-shadow(8px 8px 6px rgba(0, 0, 0, 0.75));
  will-change: transform;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

#scroll-path-svg {
  position: absolute;
  top: 0;
  left: 50vw;
  pointer-events: none;
  width: 320.1293rem;
  height: 1157.9457rem;
  z-index: -1;
  opacity: 0;
}

.show-path #bee {
  z-index: 4;
  opacity: 1;
}

.show-path #scroll-path-svg {
  z-index: 5;
  opacity: 1;
}

.screen1 {
  position: relative;
  width: 100vw;
}

.screen1__content {
  display: block;
  width: 100%;
  padding-bottom: 47.1625%;
  position: relative;
}

.screen1__logo {
  position: absolute;
  left: 10rem;
  top: 20rem;
}

.screen1-text1 {
  font-size: 2.555rem;
  font-weight: 500;
  position: absolute;
  top: 12rem;
  left: 30rem;
}

.screen1-text2 {
  position: absolute;
  font-size: 1.7rem;
  left: 40rem;
  top: 15.2rem;
}

.screen1-text3 {
  font-size: 2.555rem;
  font-weight: 600;
  position: absolute;
  top: 22rem;
  left: 45rem;
}

.screen1__video {
  position: absolute;
  left: 70rem;
  top: 5rem;
}
.screen1__line-1 {
  position: absolute;
  top: 18.844rem;
  left: 18.726rem;
}

.screen1__line-2 {
  position: absolute;
  width: 80rem;
  top: 33.144rem;
  left: 25.726rem;
}

.screen2 {
  position: relative;
  background: #fff;
  color: #000;
  width: 100vw;
  
}



.screen2__content {
  display: block;
  width: 100%;
  padding-bottom: 5%;
  position: relative;
  overflow: hidden;
}

.vision__bg {
  display: flex;
  justify-content: end;
  align-items: end;
}

.vision-background{
  width: 110rem;
}

.screen2__title {
  display: block;
  font-size: 2.5925rem;
  line-height: 1;
  letter-spacing: 0;
  font-weight: 700;
}

.screen2__title span{
  font-size:7rem;
  font-weight: 700;
}

.screen2__title {
  font-size: 5rem;
  font-weight: 500;
}

.screen2__text-1 {
  color: #fff;
  position: absolute;
  top: 10.77rem;
  left: 36.125rem;
}



.screen2__text-2 {
  color: #fff;
  position: absolute;
  top: 25.2962rem;
  left: 36.125rem;
  width: 23.6296rem;
}


.screen2__description {
  display: block;
  width: 50rem;
  font-size: 1.4rem;
  line-height: 1.185;
  letter-spacing: 0;
  font-weight: 400;
  text-align: justify;
  
}

.screen2__description strong {
  font-weight: 700;
}

.screen2__line-1 {
  position: absolute;
  top: -1.2rem;
  left: 52.599rem;

}



.screen2__line-2 {
  position: absolute;
  top:.2rem;
  left: 9.9259rem;
}


.screen3 {
  width: 100vw;
}

.screen4 {
  width: 100vw;
}

.screen5 {
  width: 100vw;
}
